.CollectClinical-component {
    /* The image used */
    background: url(../assets/iamges/61808.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%; 
    width: 100%;
    background-position: center; 
    overflow: auto;
}

#customfield{
    width: 100px;
}


@media only screen and (max-width: 448px) and (min-width: 100px)  {

    .list-group-item {
        
        height: 70px;
        width: 73px;
    }
      
  }


#customhr{

    width: 60%;
}

